.modal_title {
  background-image: linear-gradient(to right, #9500ab 0, #9b4db6 100%);
  color: var(--text-color);
  text-align: right;
  padding: 15px;
}
.modal_body {
  background-color: var(--bg-base);
  min-width: 70%;
}
.form_parent {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.inputs {
  width: 30%;
}
.selectBox_parent {
  width: 65%;
  display: inline-block;
  margin: 10px;
}
.selectBox {
  background-color: var(--bg-base);
  padding: 9px;
  border: 1px solid var(--hover-color);
  border-radius: 5px;
  color: var(--text-color);
  outline: none;
  width: 100%;
}
.Item_box_parent {
  width: 100%;
}
.item_box {
  width: 100%;
  border-radius: 15px;
  border: 2px solid var(--text-color);
  padding: 20px;
  color: var(--text-white);
  background-color: var(--hover-color);
  cursor: pointer;
}
.text_item_box {
  margin: 15px;
}
.price_item_box {
  margin: 15px;
  color: yellow;
}
.item_parent {
  color: var(--text-color);
}
.back_btn_item {
  color: var(--text-white);
  display: flex;
  justify-content: start;
  margin-top: 40px;
}
.back_btn_item > p {
  cursor: pointer;
}
.service_info {
  width: 100%;
  border-radius: 15px;
  border: 2px dashed var(--hover-color);
  padding: 15px;
  margin-top: 15px;
  text-align: right;
}
.title_service_info {
  font-size: 29px;
  border-bottom: 2px solid var(--hover-color);
  padding-bottom: 10px;
}
.text_service_info {
  margin: 5px;
  font-size: 20px;
}
.borderBox_item {
  border: 2px solid var(--hover-color);
  padding: 15px;
  border-radius: 15px;
  text-align: right;
  margin-top: 20px;
}
.small_input {
  width: 9%;
}
.small_input > input {
  text-align: center;
}
.big_input {
  width: 88%;
}
.bottom_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.green_btn {
  color: #00c851;
  background-color: inherit;
  border: 1px solid #00c851;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  transition: 0.2s;
}
.yellow_btn {
  color: #fdb901;
  background-color: inherit;
  border: 1px solid #fdb901;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  transition: 0.2s;
}
.green_btn:hover {
  color: white;
  background-color: #00c851;
}
.yellow_btn:hover {
  color: white;
  background-color: #fdb901;
}
.text_bottom {
  color: var(--text-white);
  font-size: 20px;
}
@media (max-width: 950px) {
  .inputs,
  .imei_parent {
    width: 100%;
  }
  .selectBox_parent {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 1100px) {
  .bottom_parent {
    display: block;
    text-align: center;
  }
  .green_btn,
  .yellow_btn {
    margin-top: 15px;
    width: 70%;
  }
}
@media (max-width: 550px) {
  .small_input {
    width: 12%;
  }
  .big_input {
    width: 86%;
  }
}
@media (max-width: 500px) {
  .selectBox {
    font-size: 12px;
  }
}
