.parent{
    min-width: 50%;
    max-width: 100%;
    background-color: var(--bg-menu);
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}
.link_span{
    color: var(--bg-icons);
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-top: 25px;
}
.password_input_parent{
    width: 65%;
}
.eyes_icon{
    width: 10%;
    color: var(--text-color);
    cursor: pointer;
}