@font-face {
  font-family: iranSans;
  src: url(../../fonts/IRANSans/IRANSans.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranSans;
}
:root{
  --bg-base:#293544;
  --bg-navBar:#1a2633;
  --text-color:#d3d8e2;
  --hover-color:#3b4a5d;
  --bg-menu:#232f3e;
  --bg-icons:#9b4bb6;
  --bg-header:#1c2938;
  --hover-color:#3b4a5d;
  --hover-icons:#6a2f7e;
}
body{
  direction: rtl;
  background-color: var(--bg-base);
  color: var(--text-color);
}