*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg-base:#293544;
  --bg-menu:#1a2633;
  --text-color:#d3d8e2 ;
}
body{
  direction: rtl;
  background-color: var(--bg-base);
  color: var(--text-color);
}