.parent{
    min-width: 50%;
    max-width: 100%;
    background-color: var(--bg-menu);
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}
.password_input_parent{
    width: 90%;
}
.eyes_icon{
    width: 10%;
    color: var(--text-color);
}

/* start chick box */
.container {
    cursor: pointer;
  }
  
  .container input {
    display: none;
  }
  
  .container svg {
    overflow: visible;
    width: 20px;
    height: 20px;
  }
  
  .path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  
  .container input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
  }
  .allowMe_span{
    font-size: 14px;
    margin-right: 7px;
    color: var(--text-color);
  }
/* finish chick box */

.link_span{
    color: var(--bg-icons);
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}